name: cc-test-report

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20

    - name: Test and Coverage
      run: go test -coverprofile=coverage.out ./go/domains/...

    - name: Install gocov-lcov
      run: go get github.com/jandelgado/gocov-lcov

    - name: Convert to LCOV
      run: gocov-lcov -infile=coverage.out -outfile=coverage.lcov

    - name: Upload coverage to Code Climate
      run: |
        # Code Climate test-reporter をダウンロードして実行
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        chmod +x ./cc-test-reporter
        ./cc-test-reporter before-build
        ./cc-test-reporter after-build --coverage-input-type lcov --exit-code $?
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }} # code climate テストID
