name: Lighthouse CI on PR Comment

on:
  issue_comment:
    types:
      - created

jobs:
  lighthouse-ci:
    if: (github.event.issue.pull_request != null) && github.event.comment.body == '!github run lh'
    name: lighthouse-ci
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          
      - name: Install dependencies
        run: npm install
        
      - name: Start server
        run: go run ./go/main.go & sleep 10
      
      - name: Install ngrok and start tunnel
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: |
          npm install -g ngrok
          ngrok authtoken $NGROK_AUTH_TOKEN
          ngrok http 8080 > /dev/null & sleep 10

      - name: Fetch public URL
        id: fetch_url
        run: echo "::set-output name=url::$(curl -s http://localhost:4040/api/tunnels | jq -r '.tunnels[0].public_url')"

      - name: Install Lighthouse CLI
        run: npm install -g @lhci/cli@0.12.x

      - name: Run Lighthouse CI
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: lhci autorun --collect.url=${{ steps.fetch_url.outputs.url }} > lhci-log.txt
      
      - name: Extract public URL
        run: |
          URL=$(grep -o "https://storage.googleapis.com/lighthouse-infrastructure.appspot.com/reports/[^ ]*" lhci-log.txt)
          echo "LHCI_PUBLIC_URL=$URL" >> $GITHUB_ENV
      
      - name: Create PRcomments
        run: |
          cat << EOF > comments
          [Lighthouse 計測結果]
          $LHCI_PUBLIC_URL
          EOF

      - name: Post PRcomments
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.html_url }}
        run:
          gh pr comment -F ./comments "${URL}"